* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', Arial;
    outline: none;
}
body {
    background-color: #e2f1e7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}
.messageSent {
    display: none;
    opacity: 0;
    position: absolute;
    color: #fff;
    background-color: #064238;
    padding: 15px 25px;
    margin-top: -535px;
    border-radius: 8px;
    line-height: 15px;
    transition: all ease .5s;
}
b {
    display: flex;
    align-items: center;
}
p {
    color: #ccc;
}
.check {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-success-check.svg);
    background-position: center;
    margin-right: 10px;
}
.contactUs {
    background-color: #fff;
    width: 500px;
    height: 100%;
    border-radius: 15px;
    padding: 30px;
}
label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
}
input[type=text]:focus, input[type=email]:focus, input[type=submit]:focus, textarea:focus {
    border: 1.5px solid #0a7d69;
}
input[type=text], input[type=email], input[type=submit] {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1.5px solid #666;
    border-radius: 8px;
}
input[type=text]:hover, input[type=email]:hover, textarea:hover {
    border: 1.5px solid #0a7d69;
}
input[type=email] {
    max-width: 478px;
}
input[type=submit] {
    border: 1.5px solid #0a7d69;
    background-color: #0a7d69;
    color: #fff;
    cursor: pointer;
}
input[type=submit]:hover {
    border: 1.5px solid #064238;
    background-color: #064238;
}
.fullName {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.fullName input {
    width: 220.5px;
}
.areaOptionsStyle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 15px;
}
.options {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 9px;
    border: 1.5px solid #666;
    border-radius: 8px;
    cursor: pointer;
}
.options.active {
    background-color: #d5eeea;
    border: 1.5px solid #0a7d69;
}
.radio, .checkbox {
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    border: 1.5px solid #666;
    border-radius: 2px;
    margin-right: 10px;
}
.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
}
.radio.active{
    border-color: #0a7d69;
}
.option.active {
    padding: 4.5px;
    border-radius: 50%;
    background-color: #0a7d69;
}
.checkbox.active{
    background-image: url(../images/icon-checkbox-check.svg);
    background-position: center;
    border-color: #0a7d69;
}
.consent {
    display: flex;
    cursor: pointer;
}
textarea {
    resize: none;
    margin-top: 10px;
    padding: 10px;
    width: 478px; 
    height: 60px; 
    border-radius: 8px;
    line-height: 20px;
}
span {
    color: #0a7d69;
}
.error {
    font-size: 10px;
    color: #f00;
    padding-top: 10px;
}

@media (max-width: 609px) {
    .messageSent {
        width: 200px;
        margin-top: -780px;
    }
    .contactUs {
        max-width: 242.5px;
    }
    input[type=email] {
        max-width: 220.5px;
    }
    .fullName {
        flex-direction: column;
    }
    .areaOptionsStyle {
        flex-direction: column;
    }
    textarea {
        width: 220.5px; 
        height: 175px; 
    }
}
